<!DOCTYPE html>
<html>
	<head>
  		<%= stylesheet_link_tag "users" %>
		<%= javascript_include_tag "users" %>
	</head>
	<body>
		<header>
		</header>
		<div class="container">
			<div class="paper-section">
				<% @me.papers.each { |p| %>
					<div class='paper' style="background-image:url('<%=p.background%>')" onclick="location.href='/papers/<%=p.id%>'">
						<div class="title-cover">
							<%=p.title%>
						</div>
					</div>
				<% } %>
			</div>
			<div class="paper-section">
				<% @me.sended_papers.each { |p| %>
					<div class='paper' style="background-image:url('<%=p.background%>')" onclick="location.href='/papers/<%=p.id%>'">
						<div class="title-cover">
							<%=p.title%>
						</div>
					</div>
				<% } %>
			</div>
			<div class="paper-section">
				<% @me.received_papers.each { |p| %>
					<div class='paper' style="background-image:url('<%=p.background%>')" onclick="location.href='/papers/<%=p.id%>'">
						<div class="title-cover">
							<%=p.title%>
						</div>
					</div>
				<% } %>
			</div>
		</div>
	</body>
</html>

